<!DOCTYPE html>
<html lang="en">

<head>

   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <meta name="description" content="">
   <meta name="author" content="">

   <title>Beatsprod</title>

   <!-- Bootstrap core CSS -->
   <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" />
   <link href="{{ url_for('static', filename='css/all.min.css') }}" rel="stylesheet">
   <link href="{{ url_for('static', filename='css/login.css') }}" rel="stylesheet">
   <style>.clickable-row:hover{cursor: pointer;}.filterable .filters input[disabled] {display: none;}</style>

</head>

<body>

   <!-- Navigation -->
   <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
      <div class="container">
         <a class="navbar-brand" href="{{url_for('home')}}">Beatsprod</a>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
               <li class="nav-item">
                  <a class="nav-link" href="{{url_for('home')}}">Home<span class="sr-only">(current)</span></a>
               </li>
               <li class="nav-item">
                   <a class="nav-link" href="{{url_for('beats')}}">Beats</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="{{url_for('genre')}}">Genre</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="{{url_for('beatmaker')}}">Beatmaker</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="{{url_for('sampler')}}">Sampler</a>
               </li>
               <li class="nav-item active">
                  <a class="nav-link" href="{{url_for('logout')}}">{% if session['user'] %}Logout <i class="fa fa-sign-out-alt"></i>{% else %}Login <i class="fa fa-sign-in-alt"></i>{% endif %}</a>
               </li>
            </ul>
         </div>
      </div>
   </nav>

   <!-- Page Content -->
   <div class="container">
       <div class="row m-4 justify-content-md-center">
           <div class="login-popup-wrap new_login_popup m-5">
               <div class="login-popup-heading text-center">
                   <h4><i class="fa fa-lock" aria-hidden="true"></i> Login form </h4>
               </div>
               <!--<form accept-charset="utf-8" method="post" action="">-->
               <form id="loginMember" role="form" action="{{url_for('connexion')}}" method="post">
                   <div class="form-group">
                       <div class="input-group">
                           <input type="text" class="form-control border-right-0" id="username" placeholder="Username" name="username" required autofocus>
                           <div class="input-group-append">
                               <span class="input-group-text bg-transparent"><i class="fa fa-user" style="color:#c4c3c3"></i></span>
                           </div>
                       </div>
                   </div>
                   <div class="form-group">
                       <div class="input-group">
                           <input type="password" class="form-control border-right-0" id="password" placeholder="Password" name="password" required>
                           <div class="input-group-append">
                               <span class="input-group-text bg-transparent"><i class="fa fa-lock" style="color:#c4c3c3"></i></span>
                           </div>
                       </div>
                   </div>
                   <button type="submit" class="btn btn-default login-popup-btn" name="submit" value="1"> Login </button>
               </form>
               <!-- <div class="form-group text-center">
                   <a class="pwd-forget" href="javascript:void(0)" id="open_forgotPassword">Forget Password</a>
               </div> -->
               <div class="text-center">Not registered yet?<a href="{{url_for('register')}}">click here</a></div>
           </div>
       </div>
       <div class="row justify-content-md-center">
           <h5>{% if msg is not none %}{{ msg }}{% endif %}</h5>
       </div>
   </div>
   <!-- /.container -->

   <!-- Footer -->
   <footer class="py-2 bg-dark fixed-bottom">
      <div class="container">
         <p class="m-0 text-center text-secondary">Copyright &copy; Beatsprod - 2018</p>
      </div>
   </footer>

   <!-- Bootstrap core JavaScript -->
   <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
   <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
   <script src="{{ url_for('static', filename='js/personnal-addon.js') }}"></script>

</body>

</html>
